.header {
    height: 570px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    &__content {
        padding: 26px 98px;
        height: 90px;
        display: flex;
        align-items: center;
    }

    &__name {
        @include adap(font-size, 20, 20);
        color: white;
        cursor: pointer;
    }
    &__links {
        margin-left: auto;
        margin-right: 60px;
        display: flex;
        gap: 30px;
        &-item {
            color: white;
            position: relative;
            display: flex;
            justify-content: center;
            cursor: pointer;
            &::before {
                content: "";
                display: inline-block;
                height: 2px;
                position: absolute;
                bottom: -3px;
                background-color: white;
            }
            &:hover {
                &::before {
                    animation: link-hover 0.3s linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    &__social {
        cursor: pointer;
    }
}

@keyframes link-hover {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}