.info {
    padding: 160px 98px;
    &__clients {
        padding: 0 100px;
        display: flex;
        gap: 200px;
    }
    &__block-text {
    }
    &__label {
        margin-bottom: 27px;
        font-size: 15px;
        font-weight: 500;
    }
    &__text {
        font-size: 34px;
        font-weight: 500;
        line-height: 130%;
    }
    &__logos {
        display: grid;
        grid-template-columns: repeat(3, 128px);
        grid-template-rows: repeat(2, auto);
        column-gap: 55px;
        row-gap: 40px;
    }
    &__logo {
        height: auto;
        width: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
