.intro {
    margin: 0 auto;
    margin-top: 90px;
    .swiper {
        max-width: 1366px;
        width: 100%;
        position: relative;
        display: flex;
        &-wrapper {
            display: flex;
        }
        &-slide {
        }
        &-button-prev {
            height: 33px;
            width: 33px;
            left: 33px;
            img {
                cursor: pointer; 
            }
            &::after {
                display: none;
            }
            
        }
        &-button-next {
            height: 33px;
            width: 33px;
            right: 33px;
            img {
                cursor: pointer; 
            }
            &::after {
                display: none;
            }
        }  
        &-slide-active {
            hr {
                animation: hr-swiper 8s linear;
                animation-fill-mode: forwards;
            }
        }
    }
    &__item {
        margin: 0 auto;
        padding: 175px 200px;
        max-width: 1170px;
        width: 100%;
        height: clamp(145px, 42vw,580px);
        background: url(../../public/img/intro/display/slide-item.jpg) center/ 100% 100% no-repeat;
        color: white;

        hr {
            margin-bottom: 36px;
            height: 1px;
            width: 0;
            background-color: white;
        }

        &-name {
            font-size: 70px;
            line-height: 114%;
            color: white;
        }

        &-view {
            margin-left: auto;
            height: 90px;
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: 500;
            color: black;
            background-color: white;
            border-radius: 100%;
            transition: all 0.1s linear;
            cursor: pointer;
            &:hover {
                transition: all 0.1s linear;
                transform: scale(1.1);
            }
        }
    }
    &__info {
        padding: 160px 198px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -304px;
            left: -123px;
            z-index: -2;
            display: inline-block;
            height: 641px;
            width: 641px;
            border-radius: 641px;
            background: #F5F5F5;
        }
    }
    &__label {
        margin-bottom: 22px;
        font-weight: 500;
        text-align: center;
    }
    &__title {
        margin-bottom: 93px;
        width: 615px;
        font-size: 34px;
        line-height: 130%;
        font-weight: 500;
        text-align: center;
    }
    &__block-text {
        display: flex;
        gap: 100px;
        .intro__column:last-child {
            flex: 1 0 50%;
            .intro__text {
                font-size: 17px;
            }
        }
    }
    &__column {
        flex: 1 0 30%;
        hr {
            margin-bottom: 34px;
            height: 1px;
            width: 400px;
            background-color: black;
        }
    }
    &__text {
        margin-bottom: 51px;
        font-size: 20px;
        line-height: 150%;
    }
    &__button {
        height: 54px;
        width: 170px;
        color: white;
        background-color: black;
        transition: all .1s linear;
        &:hover {
            transition: all .2s linear;
            color: black;
            background-color: white;
            border: solid 1px black;
        }
    }
    &__section-row {
        display: flex;
        justify-content: center;
        gap: 30px;
        .intro__section-column:nth-child(1) {
            background: url(../../public/img/intro/display/section-item-1.jpg) center/ 100% no-repeat;
        }
        .intro__section-column:nth-child(2) {
            background: url(../../public/img/intro/display/section-item-2.jpg) center/ 100% no-repeat;
        }
        .intro__section-column:nth-child(3) {
            background: url(../../public/img/intro/display/section-item-3.jpg) center/ 100% no-repeat;
        }
        .intro__section-column:nth-child(4) {
            background: url(../../public/img/intro/display/section-item-4.jpg) center/ 100% no-repeat;
        }
    }
    &__section-column {
        padding: 42px 50px;
        width: 304px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;

        &:hover {
            .intro__section-read {
                transition: margin-top 0.1s linear;
                margin-top: 21px;
                opacity: 1;
            }
        }
    }
    &__section-icon {
        margin-bottom: 24px;
    }
    &__section-name {
        height: 60px;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        color: white;
    }
    &__section-read {
        position: relative;
        transition: all 0.1s linear;
        margin-top: 0px;
        font-size: 16px;
        line-height: 0;
        opacity: 0;
        color: white;
        cursor: pointer;
        &::after {
            content: "";
            margin-left: 17px;
            display: inline-block;
            width: 16px;
            height: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: url(../../public/img/intro/display/arrow-section.svg) center/ 100% no-repeat;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}


@keyframes hr-swiper {
    0% {
        width: 0;
    }
    100% {
        width: 200px;
    }
}